.page {
	width: 700px;
	padding: 10px;
	margin: 0 auto;
	background-color: white;
	font-family: Arial;
	

}

.title{
	background-color: #33BEBE;
	color: white;
	padding: 10px 10px 0px;

}

.image{

	padding: 15px 0px 0px;
	height: 0px;

	
}

.text {
	padding: 0px;
	border: 0 auto; 
	color: #7C8B88;
	text-align: justify;
	display: flex;
	padding: 0px 0px 0px 340px;
}

